In [1]:
# thêm các thư viện cần thiết
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import StackingRegressor

In [2]:
#thêm dữ liệu
data = pd.read_csv('./data/heart_failure_clinical_records_dataset.csv')
data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [3]:
#Chia dữ liệu và tiền xử lý dữ liệu
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

# chuẩn hóa dữ liệu
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [5]:
# chia dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=42)

In [6]:
# Xây dựng mô hình neural network bằng thư viện MlpRegressor

mlp_model_neural = MLPRegressor(
    hidden_layer_sizes=(150, 120),
    max_iter=3000,
    random_state=0
    
)

mlp_model_neural.fit(X_train, y_train)

y_pred_neural = mlp_model_neural.predict(X_test)

mae_neural = mean_absolute_error(y_test, y_pred_neural)

r2_neural = r2_score(y_test, y_pred_neural)

mse_neural = mean_squared_error(y_test, y_pred_neural)

rmse_neural = np.sqrt(mse_neural)

In [7]:
# In ra các giá trị đánh giá mô hình
print(f"Mean Absolute Error (neural): {mae_neural}")
print(f"R2_score (neural): {r2_neural}")
print(f"Mean Squared Error (neural): {mse_neural}")
print(f"Root Mean Squared Error (neural): {rmse_neural}")

Mean Absolute Error (neural): 0.37105927354599255
R2_score (neural): 0.013521151558939626
Mean Squared Error (neural): 0.2397691645516466
Root Mean Squared Error (neural): 0.4896622964366836