In [1]:
import pandas as pd

file_path = 'data/heart_failure_clinical_records_dataset.csv'
data = pd.read_csv(file_path)

data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Lasso, LinearRegression
from sklearn.metrics import classification_report

# Chuẩn bị các tính năng và biến mục tiêu
X = data.drop(columns=["DEATH_EVENT"])
y = data["DEATH_EVENT"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Giả sử y_train chứa các giá trị liên tục, cần chuyển nó về nhị phân
threshold = 0.5
y_train_bool = (y_train >= threshold).astype(int)
y_test_bool = (y_test >= threshold).astype(int)

# Chuẩn hóa dữ liệu
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Khởi tạo các mô hình
mlp_model_neural = MLPClassifier(
    hidden_layer_sizes=(150, 120),
    max_iter=3000,
    random_state=0
)


# Huấn luyện các mô hình
mlp_model_neural.fit(X_train_scaled, y_train_bool)


# Dự đoán biến mục tiêu
y_pred_mlp = mlp_model_neural.predict(X_test_scaled)


# Chuyển dự đoán thành nhị phân
y_pred_mlp = (y_pred_mlp >= 0.5).astype(int)

# Tạo báo cáo phân loại
mlp_report = classification_report(y_test_bool, y_pred_mlp)


# In báo cáo phân loại
print("=== MLP (Neural Network) Classification Report ===")
print(mlp_report)

=== MLP (Neural Network) Classification Report ===
              precision    recall  f1-score   support

           0       0.68      0.86      0.76        35
           1       0.69      0.44      0.54        25

    accuracy                           0.68        60
   macro avg       0.68      0.65      0.65        60
weighted avg       0.68      0.68      0.67        60